@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserrat-900';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Black.ttf');
}
@font-face {
  font-family: 'montserrat-700';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'montserrat-400';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Regular.ttf');
}
:root {
  background-color: #232323;
}
body {
  margin: 0;
  min-height: 100vh;
}





